
@font-face {
  font-family: "feather";
  src: url('../assets/fonts/feather/feather-webfont.eot?t=1501841394106'); /* IE9*/
  src: url('../assets/fonts/feather/feather-webfont.eot?t=1501841394106#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/feather/feather-webfont.woff?t=1501841394106') format('woff'), /* chrome, firefox */
  url('../assets/fonts/feather/feather-webfont.ttf?t=1501841394106') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../assets/fonts/feather/feather-webfont.svg?t=1501841394106#feather') format('svg'); /* iOS 4.1- */
}
