{% extends 'base.html' %}
{% load seahub_tags avatar_tags i18n staticfiles %}
{% load url from future %}

{% block sub_title %}{{filename}} - {% endblock %}
{% block viewport %}{% endblock %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/file_view_extra.css" />
<style type="text/css">
#view-hd {
    width:100%;
    padding:0 15px 12px;
    border-bottom:1px solid #c9c9c9;
    display:flex;
    justify-content:space-between;
    flex-shrink:0;
}
#file-view {
    border:none;
    border-right:4px solid transparent;
    margin-top:0;
}
#file-discussions {
    width:400px;
}
</style>
{% endblock %}

{% block header_css_class %}hide{% endblock %}
{% block main_class %}ovhd d-flex fd-col{% endblock %}

{% block main_content %}
    <div id="view-hd">
        <div>
            <h2 class="file-view-hd">
                {% blocktrans %}Review {{ filename }}{% endblocktrans %}
            </h2>
        </div>

        {% if review.status == 'started' %}
        <p id="status" class="hide"></p>
        <div class="file-view-op">
            {% if request.user.username == review.reviewer %}
            <button id="cancel-review" class="">{% trans "Cancel Review" %}</button>
            <button id="submit-review" class="">{% trans "Submit Review" %}</button>
            {% endif %}
        </div>
        {% endif %}
        {% if review.status == 'finished' %}
        <p id="status">{% trans "Status: finished." %}</p>
        {% endif %}
        {% if review.status == 'canceled' %}
        <p id="status">{% trans "Status: canceled." %}</p>
        {% endif %}

    </div>

    <div class="d-flex flex-auto ovhd"> {# 'ovhd' is for Firefox #}
        <div id="file-view" class="flex-1 ov-auto {% block file_view_extra_class %}{% endblock %}">
          {% if err %}
            <div id="file-view-tip">
            {% if err != 'invalid extension' %}
                <p class="error">{{ err }}</p>
            {% endif %}
            </div>
          {% else %}
              {% block file_view %}{% endblock %}
          {% endif %}
        </div>
        <div id="file-discussions" class="comments-panel" style="display:none;"></div>
    </div>


<script type="text/template" id="discussion-panel-tmpl">
    <div class="comments-panel-hd file-discussions-hd ovhd">
        <!--a href="#" title="{% trans "Close" %}" aria-label="{% trans "Close" %}" class="sf-popover-close js-close sf2-icon-x1 op-icon"></a-->
        <h3 class="comments-panel-title">{% trans "Comments" %}</h3>
    </div>
    <div class="comments-panel-con file-discussions-con">
        <div class="loading-icon loading-tip"></div>
        <ul class="file-discussion-list hide"></ul>
        <p class="no-discussion-tip hide">{% trans "No comment yet." %}</p>
        <p class="error hide"></p>
    </div>
    <div class="comments-panel-footer file-discussions-footer">
        <form action="" method="post" class="msg-form">
            <img src="{% avatar_url request.user 64 %}" alt="" width="32" class="avatar-circle fleft" />
            <div class="msg-body">
                <textarea name="message" placeholder="{% trans "Add a comment..." %}" title="{% trans "Add a comment..." %}" aria-label="{% trans "Add a comment..." %}" class="msg-input" <% if (!is_reviewer) { %>disabled="disabled"<% } %>></textarea>
                <p class="error hide"></p>
                <% if (is_reviewer) { %>
                <button type="submit" class="submit msg-submit">{% trans "Submit" %}</button>
                <% } else { %>
                <button type="submit" class="submit btn-disabled" disabled="disabled">{% trans "Submit" %}</button>
                <% } %>
            </div>
        </form>
    </div>
</script>
<script type="text/template" id="discussion-tmpl">
<li class="msg ovhd">
    <img src="{% avatar_url review.reviewer 64 %}" alt="" width="32" class="avatar-circle fleft" />
    <div class="msg-body">
        <div class="ovhd">
            <a class="msg-username ellipsis" title="{{review.reviewer}}" href="<%= user_profile_url %>">{{ review.reviewer|email2nickname }}</a>
            <span class="msg-time" title="<%- time %>"><%- time_from_now %></span>
            <div class="msg-ops fright vh">
                <% if (is_reviewer) { %>
                    <a class="msg-op sf2-icon-delete op-icon js-del-msg" title="{% trans "Delete" %}" aria-label="{% trans "Delete" %}" href="#" data-id="<%= comment_id %>"></a>
                <% } %>
            </div>
        </div>
        <div class="msg-content"><%= content_marked %></div>
    </div>
</li>
</script>

{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{% static "scripts/lib/jquery-ui.min.js" %}"></script> {# for 'tabs' used in share popup #}
<script type="text/javascript" src="{% static "scripts/lib/underscore.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/lib/moment-with-locales.min.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/lib/marked.min.js" %}"></script>
{% if not err %}
<script type="text/javascript" src="{{MEDIA_URL}}js/pdf.js"></script>
<script type="text/javascript">
    {% if filetype == 'Document' %}
            {% include 'snippets/document_file_viewer.html' %}
    {% endif %}

    {% if filetype == 'PDF' %}
    var raw_path = "{{ raw_path|escapejs }}";
    {% include 'snippets/pdfjs_file_viewer.html' %}
    {% endif %}

    {% if filetype == 'Markdown' %}
    {% ifnotequal file_content None %}
    $('#file-view').html('<div id="md-view" class="article"></div>');
    var renderer = new marked.Renderer();
    // remove 'id' attribute for headings
    renderer.heading = function (text, level) {
        return '<h' + level + '>' + text + '</h' + level + '>';
    };
    marked.setOptions({
        renderer: renderer,
        breaks: true, // keep linebreak
        smartLists: true,
        sanitize: true // Ignore any HTML that has been input
    });
    $('#md-view').html(marked('{{ file_content|escapejs }}')).children(':first').css('margin-top', '0');
    {% endifnotequal %}
    {% endif %}
</script>
{% endif %}
<script type="text/javascript">

// submit/cancel a review
$('#submit-review, #cancel-review').on('click', function() {
    var $btn = $(this);
    var op = $btn.attr('id').indexOf('submit') != -1 ? 'submit' : 'cancel';
    var review_status, status_text;
    if (op == 'submit') {
        review_status = 'finished';
        status_text = '{% trans "Status: finished." %}';
    } else {
        review_status = 'canceled';
        status_text = '{% trans "Status: canceled." %}';
    }
    $.ajax({
        url: '{% url 'api-v2.1-review' review.id %}',
        type: 'PUT',
        dataType: 'json',
        cache: false,
        beforeSend: prepareCSRFToken,
        data: {
            'status': review_status
        },
        success: function(data) {
            $btn.closest('div').hide();
            $('#status').html(status_text).show();
            $('.comments-panel-footer [name="message"]').prop('disabled', true);
            $('.comments-panel-footer .submit').prop('disabled', true).removeClass('msg-submit');
        },
        error: function(xhr) {
            var error_msg;
            if (xhr.responseText) {
                try {
                    error_msg = JSON.parse(xhr.responseText).error_msg;
                } catch(e) {
                    error_msg = "{% trans "Error" %}";
                }
            } else {
                error_msg = "{% trans "Please check the network." %}";
            }
            feedback(error_msg, 'error');
        }
    });
});

// file discussion
var fileDiscussions = {

    $el: $('#file-discussions'),
    tmpl: _.template($('#discussion-panel-tmpl').html()),

    init: function() {
        var _this = this;

        var is_reviewer = false; 
        if ('{{review.reviewer|escapejs}}' == '{{request.user|escapejs}}') {
            is_reviewer = true; 
        }
        this.is_reviewer = is_reviewer;

        this.setLocale();

        // events
        this.$el.on('click', '.js-close', function() {
            _this.hide();
            return false;
        });
        this.$el.on('mouseenter', '.msg', function() {
            $(this).addClass('hl').find('.msg-ops').removeClass('vh');
        });
        this.$el.on('mouseleave', '.msg', function() {
            $(this).removeClass('hl').find('.msg-ops').addClass('vh');
        });
        this.$el.on('click', '.js-reply-msg', function() {
            _this.replyTo($(this).attr('data-username'));
            return false;
        });
        this.$el.on('click', '.js-del-msg', function() {
            _this.delOne({
                id: $(this).attr('data-id'),
                $el: $(this).closest('.msg')
            });
            return false;
        });
        this.$el.on('submit', '.msg-form', function() {
            _this.formSubmit();
            return false;
        });

    },

    setLocale: function() {
        var lang_code = '{{LANGUAGE_CODE}}';
        var m_lang_code;
        if (lang_code == 'en') {
            m_lang_code = 'en-gb';
        } else if (lang_code == 'es-ar' || lang_code == 'es-mx') {
            m_lang_code = 'es';
        } else {
            m_lang_code = lang_code;
        }
        moment.locale(m_lang_code);
    },

    render: function () {
        this.$el.html($(this.tmpl({
            'is_reviewer': this.is_reviewer
        })));

        this.$listContainer = $('.file-discussion-list', this.$el);
        this.$emptyTip = $('.no-discussion-tip', this.$el);
        this.$loadingTip = $('.loading-tip', this.$el);
        this.$conError = $('.file-discussions-con .error', this.$el);
        this.$msgInput = $('[name="message"]', this.$el);
    },

    collectionUrl: '{% url "api-v2.1-review-comment" review.id %}',

    show: function() {
        this.render();
        this.$el.show();

        // pdf file view with pdf.js; text file view; #file-view-tip
        $('#pdf, .CodeMirror, #file-view-tip').css({'width':'auto', 'margin':'0 10px'});
        // encoding selector
        $('#file-enc-cont').css({'width': 'auto', 'margin-right':'10px'});

        this.getContent();
    },

    hide: function() {

        // pdf file view with pdf.js; text file view; #file-view-tip
        // encoding selector
        $('#pdf, .CodeMirror, #file-enc-cont, #file-view-tip').removeAttr('style');

        this.$el.empty().hide();
    },

    getContent: function() {
        var _this = this;
        $.ajax({
            url: this.collectionUrl,
            type: 'GET',
            cache: false,
            dataType: 'json',
            success: function(data) {
                var comments = data;
                if (comments.length > 0) {
                    $(comments).each(function(index, item) {
                        _this.addOne(item);
                    });
                    _this.$listContainer.show();
                    _this.scrollConToBottom();
                } else {
                    _this.$emptyTip.show();
                }
            },
            error: function(xhr) {
                var err_msg;
                if (xhr.responseText) {
                    err_msg = JSON.parse(xhr.responseText).error_msg;
                } else {
                    err_msg = "{% trans "Failed. Please check the network." %}";
                }
                _this.$conError.html(err_msg).show();
            },
            complete: function() {
                _this.$loadingTip.hide();
            }
        });
    },

    formSubmit: function() {
        var _this = this;
        var $formError = $('.msg-form .error', this.$el);
        var $submitBtn = $('[type="submit"]', this.$el)
        var msg = $.trim(this.$msgInput.val());

        if (!this.is_reviewer || !msg) {
            return false;
        }

        $formError.hide();
        disable($submitBtn);
        $.ajax({
            url: this.collectionUrl,
            type: 'POST',
            cache: false,
            dataType: 'json',
            beforeSend: prepareCSRFToken,
            data: {'content': msg},
            success: function(data) {
                _this.$msgInput.val('');
                _this.addOne(data);
                if (_this.$emptyTip.is(':visible')) {
                    _this.$emptyTip.hide();
                    _this.$listContainer.show();
                }
                _this.scrollConToBottom();
            },
            error: function(xhr) {
                var err_msg;
                if (xhr.responseText) {
                    err_msg = JSON.parse(xhr.responseText).error_msg;
                } else {
                    err_msg = "{% trans "Failed. Please check the network." %}";
                }
                $formError.html(err_msg).show();
            },
            complete: function() {
                enable($submitBtn);
            }
        });
    },

    itemTmpl: _.template($('#discussion-tmpl').html()),

    addOne: function(obj) {
        var user_profile_url = '{% url 'user_profile' review.reviewer %}';

        var m = moment(obj.time);
        var data = $.extend({}, obj, {
            'content_marked': marked(obj.content, {
                breaks: true,
                sanitize: true
            }),
            'time': m.format('LLLL'),
            'time_from_now': this.util_getRelativeTimeStr(m),
            'is_reviewer': this.is_reviewer,
            'user_profile_url': user_profile_url
        });

        var $item = $(this.itemTmpl(data));
        this.$listContainer.append($item);
    },

    scrollConToBottom: function() {
        var $el = $('.file-discussions-con', this.$el);
        $el.scrollTop($el[0].scrollHeight - $el[0].clientHeight);
    },

    replyTo: function(to_user) {
        var str = "@" + to_user + " ";
        var $input = this.$msgInput.val(str);
        setCaretPos($input[0], str.length);
        $input.trigger('focus');
    },

    // delete a comment
    delOne: function(item) { // item: {id:, $el:}
        var _this = this;
        $.ajax({
            url: '{{SITE_ROOT}}api2/repos/{{repo.id}}/file/comments/' + item.id + '/', // TODO. api is not offered.
            type: 'delete',
            cache: false,
            beforeSend: prepareCSRFToken,
            success: function() {
                item.$el.remove();
                if ($('.msg', _this.$el).length == 0) {
                    _this.$emptyTip.show();
                    _this.$listContainer.hide();
                }
            },
            error: function(xhr) {
                var err_msg;
                if (xhr.responseText) {
                    err_msg = JSON.parse(xhr.responseText).error_msg;
                } else {
                    err_msg = "{% trans "Failed. Please check the network." %}";
                }
                feedback(err_msg, 'error');
            }
        });
    },

    util_getRelativeTimeStr: function(m) {
        var now = new Date();
        if (m - now > 0) {
            return "{% trans "Just now" %}";
        } else {
            return m.fromNow();
        }
    }
};
// init
fileDiscussions.init();
fileDiscussions.show();

/*
$('#discuss').on('click', function() {
    if (fileDiscussions.$el.is(':visible')) {
        fileDiscussions.hide();
    } else {
        fileDiscussions.show();
    }
});
$(document).on('keydown', function(e) {
    // ESCAPE key pressed
    if (e.which == 27) {
        fileDiscussions.hide();
    }
});
*/
</script>
{% endblock %}
